<h1>Stories</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Species</th>
    <th>Gender</th>
    <th>Affiliations</th>
    <th>Weapon</th>
    <th>Vehicle</th>
  </tr>
</table>